
**/coverage/**
**/node_modules/**
bin/
packages/*/dist/**
packages/*/lib/**
packages/*/scripts/**
**/dist/*
**/public/*
**/__testfixtures__/**
**/__tests__/fixtures/**
peril
docs
starters
benchmarks
e2e-tests
examples
integration-tests
**/*.d.ts
deprecated-packages